<div id="why1" class="style1">
  <div class="container">
    <h2 class="">POURQUOI NOUS SOMMES LES MEILLEURS</h2>

    <div class="title1 ">Nous sommes une agence de voyage enligne basée au Maroc.
      <br>elle combine le service de qualité d'une agence et les prix cassés d' un site en ligne, <br>
      L’agence choisit pour vous les meilleurs deals possibles et casse les prix sur beaucoup de destinations <br>
      ainsi que sur une palette d’hôtels,
      Pour toutes vos réservations de voyages, <br>faites le via notre site ou notre centre d'appel,
      confirmer et payer<br> online ou en offline.... et bon voyage.
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumb2 " >
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="../../../../assets/images/why1.png" alt="" class="img1 img-responsive">
                <img src="../../../../assets/images/why1_hover.png" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Voyage incroyable</div>
                <!--<div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil-->
                  <!--imperdiet doming id quod mazim.-->
                <!--</div>-->
                <!--<div class="txt3">Read More</div>-->
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 " >
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="../../../../assets/images/why2.png" alt="" class="img1 img-responsive">
                <img src="../../../../assets/images/why2_hover.png" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Découvrir</div>
                <!---->
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 " >
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="../../../../assets/images/why3.png" alt="" class="img1 img-responsive">
                <img src="../../../../assets/images/why3_hover.png" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Réservez votre voyage</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 " >
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="../../../../assets/images/why4.png" alt="" class="img1 img-responsive">
                <img src="../../../../assets/images/why4_hover.png" alt="" class="img2 img-responsive">
              </figure>
              <div class="caption">
                <div class="txt1">Toujours à votre disposition</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">

  <div class="container">
    <h2 class="">NOS TOP DÉSTINATION VOYAGES ORGANISÉS</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure>
              <img src="http://placehold.it/262x171" alt=""
                   class="img-responsive">
            </figure>
            <div class="caption">
              <div class="txt1">Abudabi - Zurich</div>
              <div class="txt3 clearfix">
                <div class="left_side">
                  <div class="price">$250.00</div>
                  <div class="nums">avg/person</div>
                </div>
                <div class="right_side"><a routerLink="detail-voyage"
                                           class="btn-default btn1">Details</a>
                </div><!-- search-flights.html -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure>
              <img src="http://placehold.it/262x171" alt=""
                   class="img-responsive">
            </figure>
            <div class="caption">
              <div class="txt1">Abudabi - Zurich</div>
              <div class="txt3 clearfix">
                <div class="left_side">
                  <div class="price">$250.00</div>
                  <div class="nums">avg/person</div>
                </div>
                <div class="right_side"><a routerLink="detail-voyage"
                                           class="btn-default btn1">Details</a>
                </div><!-- search-flights.html -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure>
              <img src="http://placehold.it/262x171" alt=""
                   class="img-responsive">
            </figure>
            <div class="caption">
              <div class="txt1">Abudabi - Zurich</div>
              <div class="txt3 clearfix">
                <div class="left_side">
                  <div class="price">$250.00</div>
                  <div class="nums">avg/person</div>
                </div>
                <div class="right_side"><a routerLink="detail-voyage"
                                           class="btn-default btn1">Details</a>
                </div><!-- search-flights.html -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumb4">
          <div class="thumbnail clearfix">
            <figure>
              <img src="http://placehold.it/262x171" alt=""
                   class="img-responsive">
            </figure>
            <div class="caption">
              <div class="txt1">Abudabi - Zurich</div>
              <div class="txt3 clearfix">
                <div class="left_side">
                  <div class="price">$250.00</div>
                  <div class="nums">avg/person</div>
                </div>
                <div class="right_side"><a routerLink="detail-voyage"
                                           class="btn-default btn1">Details</a>
                </div><!-- search-flights.html -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
