
<div id="content">
  <div class="container">
    <div class="tabs_wrapper tabs1_wrapper">
      <div class="tabs tabs2">
        <div class="tabs_content tabs1_content">

          <div id="tabs-1">
            <app-search-form></app-search-form>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <app-rating-voyage></app-rating-voyage>
            </div>
            <div class="col-sm-9">
              <app-search-voyage-organise></app-search-voyage-organise>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
