
<!--<ul class="ul3">-->
  <!--<li><a href="#">Star Raiting</a></li>-->
  <!--<li><a href="#">Price Range</a></li>-->
  <!--<li><a href="#">Departure Ports</a></li>-->
  <!--<li><a href="#">Trip Duration</a></li>-->
  <!--<li><a href="#">Ships</a></li>-->
<!--</ul>-->

<div class="sm_slider sm_slider1">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="txt1">Pour son offre variée,
          Nous proposons une grande diversité de vacances,
          d’excursions, d’activités et d’hôtels.
        </div>
      </div>
    </div>
    <!-- Left and right controls -->

  </div>
</div>
