<div class="page_banner"></div>

<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">Home</a><span>/</span>About</div>
  </div>
</div>

<div id="why1">
  <div class="container">

    <h2>Confirmation</h2>

    <div class="title1 ">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
      euismod <br><a routerLink="/" class="btn-default btn3">login</a>
    </div>

    <br><br>

    <div class="row">
      <div class="col-sm-3">
        fdgdfgdfgfd
      </div>
      <div class="col-sm-3">
        gdgsgsgsggs
      </div>
      <div class="col-sm-3">
        fgsgdsgsdg
      </div>
      <div class="col-sm-3">
        gdsgsgsg
      </div>
    </div>
  </div>
</div>
